*{
    padding:0;
    margin:0;
}

body{
    background:url('../images/eevee.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

h1{
    text-align: center;
    color: lightblue;
}

p{
    font-size:30px;
    color:lightblue;
    text-align: center;
}

h3{
    color:lightblue;
    text-align: center;
}
/* question form css */
#questionForm{
    color:lightskyblue;
    text-align:center;
    font-size:25px;
}

/* start button css */
#start{
    padding:5px;
    color:lightblue;
    font-size:25px;
    display:block;
    margin:0 auto;
    background-color:navy;
}

#start:hover{
    background-color:lightskyblue;
}
/* submit button css */
#submit{
    padding:8px;
    color:lightblue;
    font-size:25px;
    background-color:midnightblue;
}
/* home button css */
/* home button, score button, and clear button css */
.score,
.home,
.clear
{
    text-decoration: none;
    box-shadow: 3px 4px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:15px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.home:hover,
.clear:hover,
.score:hover
{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
/* display none */
.cover{
    display:none;
}