*{
    padding:0;
    margin:0;
}

body{
    background:url('../images/eevee.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

h1{
    text-align: center;
    color: lightblue;
}
.score,
.home,
.clear
{
    font-size: 30px;
}

p{
    font-size:30px;
    color:lightblue;
    text-align: center;
}

h3{
    color:lightblue;
    text-align: center;
}
/* question css */
#questionForm{
    color:lightskyblue;
    text-align:center;
    font-size:25px;
}

/* button css */
#start{
    padding:5px;
    color:lightblue;
    font-size:25px;
    display:block;
    margin:0 auto;
    background-color:blue;
}

#start:hover{
    background-color:lightskyblue;
}

#sumbit{
    padding:8px;
    color:lightblue;
    font-size:25px;
    background-color:blue;
}
/* display none */
.cover{
    display:none;
}